<div>
  <div *ngIf="currentBooking.id" class="edit-form">
    <h4>Edit Current Booking</h4>
    <form>
      <div class="form-group">
        <label for="arrival">Arrival</label>
        <input
          type="text"
          class="form-control"
          id="arrival"
          [(ngModel)]="currentBooking.arrival"
          name="arrival"
        />
      </div>
      <div class="form-group">
        <label for="checkout">Checkout</label>
        <input
          type="text"
          class="form-control"
          id="checkout"
          [(ngModel)]="currentBooking.checkout"
          name="checkout"
        />
      </div>
      <div class="form-group">
        <label for="breakfast">Breakfast included</label>
        <input
          type="text"
          class="form-control"
          id="breakfast"
          [(ngModel)]="currentBooking.breakfast"
          name="checkout"
        />
      </div>
      <div class="form-group" *ngIf="currentBooking.status">
        <label for="status">Status</label>
        <input
          type="text"
          class="form-control"
          id="status"
          [(ngModel)]="currentBooking.status.status"
          name="status"
          readonly
        />
      </div>
      <div class="form-group" *ngIf="currentBooking.room">
        <label for="room-price">Room Price</label>
        <input
          type="text"
          class="form-control"
          id="room-price"
          [(ngModel)]="currentBooking.room.price"
          name="room-price"
          readonly
        />
      </div>
      <div class="form-group" *ngIf="currentBooking.room">
        <label for="room-number">Room Number</label>
        <input
          type="text"
          class="form-control"
          id="room-number"
          [(ngModel)]="currentBooking.room.number"
          name="room-number"
          readonly
        />
      </div>
      <div class="form-group" *ngIf="currentBooking.room">
        <label for="room-capacity">Room Capacity</label>
        <input
          type="text"
          class="form-control"
          id="room-capacity"
          [(ngModel)]="currentBooking.room.capacity"
          name="room-capacity"
          readonly
        />
      </div>
      <div class="form-group" *ngIf="currentBooking.room">
        <label for="room-balcony">Balcony</label>
        <input
          type="text"
          class="form-control"
          id="room-balcony"
          [(ngModel)]="currentBooking.room.balcony"
          name="room-number"
          readonly
        />
      </div>
    </form>
    <div class="row mx-auto">
      <button
        class="badge text-white badge-danger mr-2"
        *ngIf="currentBooking.status  && currentBooking.status.status === 'booked'"
        (click)="cancelBooking()"
      >
        {{ !isAdmin ? "Request for Cancellation" : "Cancel" }}
      </button>
      <div *ngIf="isAdmin">
        <button class="badge text-white badge-dark mr-2" (click)="removeBooking()">
          Delete
        </button>
      </div>
      <button
        type="submit"
        class="badge text-white badge-info  mr-2"
        (click)="updateBooking()"
      >
        Update
      </button>
      <div *ngIf="isAdmin && currentBooking.status  && currentBooking.status.status === 'pending'">
        <button class="badge text-white badge-success" (click)="confirmBooking()">
          Confirm
        </button>
      </div>
    </div>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentBooking.id">
    <br/>
    <p>Cannot access this booking</p>
  </div>
</div>
