<div>
  <div class="submit-form">
    <h4>Add a new Booking</h4>
    <div *ngIf="!submitted">
      <div class="form-group">
        <label>Select your arrival date and time:</label>
        <div class="form-check form-switch form-group">
          <input
            type="datetime-local"
            class="form-check-input"
            id="startDate"
            [(ngModel)]="booking.arrival"
            name="startDate"
          />
          <label class="form-check-label"
                 for="startDate">Start Date</label>
        </div>
      </div>
      <div class="form-group">
        <label>Select your checkout date and time:</label>
        <div class="form-check form-switch form-group">
          <input
            type="datetime-local"
            class="form-check-input"
            id="endDate"
            [(ngModel)]="booking.checkout"
            name="endDate"
          />
          <label class="form-check-label"
                 for="endDate">End Date</label>
        </div>
      </div>
      <br>
      <div class="form-group">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="breakfast-yes"
            id="breakfast-yes"
            [(ngModel)]="booking.breakfast"
            [value]="true"
          />
          <label class="form-check-label" for="breakfast-yes"> Breakfast included </label>
        </div>
        <div class="form-check">
          <input

            class="form-check-input"
            type="radio"
            name="breakfast-no"
            id="breakfast-no"
            [value]="false"
            [(ngModel)]="booking.breakfast"
          />
          <label class="form-check-label" for="breakfast-no"> Breakfast excluded </label>
        </div>
      </div>
      <div class="form-group">
        <label for="room">Select your room:</label>
        <select class="form-control" id="room" [(ngModel)]="booking.room" name="room">
          <option *ngFor="let room of rooms" [ngValue]="room">Price: {{room.price}} Capacity: {{room.capacity}}P
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="comments">Do you have any comments on your booking?</label>
        <input
          type="text"
          class="form-control"
          id="comments"
          required
          [(ngModel)]="booking.comment"
          name="comments"
        />
      </div>
      <button (click)="saveBooking()" class="btn text-white bg-dark mt-3 ml-1">Submit</button>
      <div *ngIf="submitted">
        <h4>Booking was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newBooking()">Add</button>
      </div>
    </div>
  </div>
</div>
